<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}"> -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->

    <!-- <link rel="stylesheet" href="../static/css/vendor/bootstrap-4.1.3.css">
    <link rel="stylesheet" href="../static/css/custom.css"> -->
    {% assets "home_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
    {% endassets %}

  
    {% block header %}
    {% endblock %}

    <title>
      {% block title %}
      {% endblock %}Energy Monitor
    </title>

  </head>
  <body>
    {% block content %}
    {% endblock %}

    
    {% assets "home_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/js/bootstrap-datepicker.min.js"></script> -->
    {% endassets %}
    <script>
    //   $('.input-group.date').datepicker({
    //  format: "dd/mm/yyyy",
    //  todayBtn: "linked",
    //  todayHighlight: true,
    //  });
    //  const d = new Date();
    // //  console.log(d.toDateString());
    //  $('.input-group.date').datepicker('setDate', d.toDateString());
    </script>
  </body>
</html>
