<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}"> -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->

    <!-- <link rel="stylesheet" href="../static/css/vendor/bootstrap-4.1.3.css">
    <link rel="stylesheet" href="../static/css/custom.css"> -->
    {% assets "home_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

  
    {% block header %}
    {% endblock %}
      <!-- Script loaded here -->
    <title>
      {% block title %}
      {% endblock %}Energy Monitor
    </title>

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <a class="navbar-brand" href="https://scgcontrol.com/"><img class= "rounded" width ='350' src="{{url_for('static',filename='images/SCG-Logo.jpg') }}"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <!-- <span class="nav-item input-group date align-items-center"> -->
              <!-- <span class=mr-1><i style="color:lightgray;font-size:25px;" aria-hidden="true" class="fa fa-calendar fa-lg"></i>
              -->
          </li> 
          <li class="nav-item justify-content-center">
            <a href="#" id="printpdf"class="mr-5"style="font-size:larger;"><i class="mr-1 fas fa-print fa-lg" id='printpdf'></i>Print</a>
          </li>
        </ul>
        <form class="input-group date form-inline my-2 my-lg-2 w-50">
          <input class="form-control mr-sm-2 text-center" style="background-color: black; color:whitesmoke;" type="search" placeholder="Select Date.." aria-label="Search">
          <div class="input-group-addon" >    
          </div>
        </form>
      </div>
    </nav>
   
    {% block content %}
    {% endblock %}
    {% assets "home_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/js/bootstrap-datepicker.min.js"></script> -->
    <script>zingchart.MODULESDIR="{{ url_for('static',filename='js/vendor/modules/') }}";</script>
    <!-- test -->
    {% endassets %}
    

 
  
  </body>
</html>
